neat-26-11-conv/20
neat-26-11-conv/33
neat-26-11-conv/46
*.json
neat-26-11-conv/47
.vs
neat-26-11-conv/.idea
neat-26-11-conv/birds
neat-26-11-conv/birds-big
neat-26-11-conv/CIFAR
dask-worker-space
neat-26-11-conv/data
neat-26-11-conv/data-omni
neat-26-11-conv/data-shapes
neat-26-11-conv/dogcatdata
neat-26-11-conv/dogsandcats
neat-26-11-conv/Latin
neat-26-11-conv/omniglot
neat-26-11-conv/shapes
.idea
*.tar.gz
*.png